[submodule "user/themes/couchadou-theme"]
	path = user/themes/couchadou-theme
	url = git@github.com:sylvestrelucia/couchadou-theme.git
[submodule "user/plugins/error"]
	path = user/plugins/error
	url = git@github.com:getgrav/grav-plugin-error.git
[submodule "user/plugins/markdown-notices"]
	path = user/plugins/markdown-notices
	url = git@github.com:getgrav/grav-plugin-markdown-notices.git
[submodule "user/plugins/problems"]
	path = user/plugins/problems
	url = git@github.com:getgrav/grav-plugin-problems.git
